@tailwind base;

@tailwind components;

.header1 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.6xl');
  font-weight: theme('fontWeight.bold');
}

.header2 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.5xl');
  font-weight: theme('fontWeight.semibold');
}

.header3 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.4xl');
  font-weight: theme('fontWeight.medium');
}

.header4 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.3xl');
  font-weight: theme('fontWeight.normal');
}

.header5 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.2xl');
  font-weight: theme('fontWeight.light');
}

.header6 {
  font-family: theme('fontFamily.display');
  font-size: theme('fontSize.xl');
  font-weight: theme('fontWeight.thin');
}

.bodyLarge {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.light');
}

@screen md {
  .bodyLarge {
    font-size: theme('fontSize.base');
    font-weight: theme('fontWeight.normal');
  }
}

@screen lg {
  .bodyLarge {
    font-size: theme('fontSize.lg');
    font-weight: theme('fontWeight.medium');
  }
}

.bodyBase {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.base');
  font-weight: theme('fontWeight.normal');
}

.bodySmall {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.light');
}

.label {
  font-family: theme('fontFamily.body');
  font-size: theme('fontSize.xs');
  font-weight: theme('fontWeight.normal');
}

@tailwind utilities;

/* I just added all of the styles, we may need to narrow this down */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* by default we want font-body */
  @apply font-body;
}
